@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .brand {
        @apply text-2xl font-bold;
    }
    .nav__links a{
        @apply font-medium
        hover:underline hover:underline-offset-4;
    }
    .footer__links a{
        @apply text-base font-normal;
    }
    main section {
        @apply flex justify-center
        lg:p-4 lg:w-56;
    }
}

body {
    scroll-behavior: smooth;
}