@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .brand {
        @apply text-2xl font-bold;
    }
    .nav__links a{
        @apply font-medium
        hover:underline hover:underline-offset-4;
    }
    .footer__links a{
        @apply text-base font-normal
        hover:underline hover:underline-offset-4;
    }
    main section {
        @apply flex justify-center
        lg:p-4 lg:w-56;
    }
    .nav__mobile__active {
        @apply h-screen w-screen;
    }
    .nav__mobile__links__active {
        @apply visible flex justify-center
        items-center gap-8 flex-col
        h-screen
        ease-in duration-300;
    }
    .nav__mobile__links__not__active {
        @apply hidden ease-out duration-300;
    }

    .cardContainer {
        @apply flex flex-wrap
        justify-center items-center transition-all duration-300;
    }
    .mediumCard {
        @apply flex flex-col md:flex-row
        gap-6 max-w-[38rem] md:max-w-[38rem] lg:max-w-[32rem] xl:max-w-[38rem] p-4
        shadow-lg rounded-2xl
        items-center
        transition-all duration-300;
    }
    .mediumCard .cardInfoContainer {
        @apply flex flex-col
        gap-4
        hyphens-auto;
    }
    .mediumCard .cardTitle {
        @apply font-semibold text-lg;
    }
    .mediumCard .cardText {
        @apply font-light text-base;
    }

    .textContainer{
        @apply flex flex-col
        justify-center items-center gap-4;
    }
    .text{
        @apply flex flex-col
        w-fit m-2 sm:w-[36rem] md:w-[48rem] lg:w-[58rem] xl:w-[64rem]
        transition-all duration-300;
    }
    .textContainer .beforeAfterContainer {
        @apply flex flex-col
        ;
    };
    .textContainer .beforeAfterContainer .afterbefore {
        @apply flex flex-col md:grid md:grid-cols-[4rem,auto] hyphens-auto;
    }
    .afterbeforeTitle {
        @apply font-semibold;
    }
}

html {
    scroll-behavior: smooth;    
}

body {
    scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
    .pagestart-image {
        height: 38rem
    }
}
